# Tarefa 2 - MO432A

Alunos:
* Andreza - RA: 164213
* Gil - RA: 225323
* Yan - RA: 118982

## Ler o arquivo

Trata-se do arquivo Bias_correction_ucl.csv, devendo ser removida a coluna Next_Tmin, a coluna Date,e as linhas que tem valor faltante.

In [18]:
import sklearn
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold, cross_validate, train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df_original = pd.read_csv('Bias_correction_ucl.csv')
df_original.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,2013-06-30,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,2013-06-30,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,2013-06-30,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,2013-06-30,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,2013-06-30,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

In [3]:
df = df_original.drop(['Date', 'Next_Tmin'], axis=1)
print("Número de linhas: {}\nNúmero de colunas: {}".format(df.shape[0], df.shape[1]))
df.head()

Número de linhas: 7752
Número de colunas: 23

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT1,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax
0,1.0,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,0.233947,...,0.0,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1
1,2.0,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,0.225508,...,0.0,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5
2,3.0,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,0.209344,...,0.0,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1
3,4.0,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,0.216372,...,0.0,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7
4,5.0,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,0.151407,...,0.0,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2

In [4]:
df.dropna(inplace = True)
print("Número de linhas: {}\nNúmero de colunas: {}".format(df.shape[0], df.shape[1]))
df.head()

Número de linhas: 7588
Número de colunas: 23

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT1,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax
0,1.0,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,0.233947,...,0.0,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1
1,2.0,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,0.225508,...,0.0,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5
2,3.0,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,0.209344,...,0.0,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1
3,4.0,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,0.216372,...,0.0,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7
4,5.0,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,0.151407,...,0.0,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2

In [24]:
x = df.drop(['Next_Tmax'], axis=1)
x = StandardScaler().fit_transform(x)
x = pd.DataFrame(x)
print("Número de linhas: {}\nNúmero de colunas: {}".format(x.shape[0], x.shape[1]))
x.head()

Número de linhas: 7588
Número de colunas: 22

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-1.664607,-0.353318,-0.748029,0.104660,0.382768,-0.525269,-0.215525,-0.126423,0.206603,-0.513123,...,-0.660441,-0.305589,-0.275777,-0.239969,-0.224971,1.186076,-0.005302,2.769091,1.111162,1.510565
1,-1.526052,0.725138,-0.664721,-0.305052,0.311697,0.078334,0.223368,-0.644133,-0.313359,-0.545304,...,-0.673074,-0.305589,-0.275777,-0.239969,-0.224971,1.186076,0.512280,-0.315828,-0.543220,1.222997
2,-1.387498,0.624033,0.043400,-0.549344,-0.609425,0.160080,0.449896,-0.439100,-1.244497,-0.606944,...,-0.616249,-0.305589,-0.275777,-0.239969,-0.224971,0.650626,0.840503,-0.526719,-0.723891,1.209602
3,-1.248943,0.758840,0.085054,0.103573,1.128335,0.028710,-0.079238,-0.663353,0.096026,-0.580143,...,-0.647336,-0.305589,-0.275777,-0.239969,-0.224971,1.987268,0.386040,-0.298272,0.928888,1.194265
4,-1.110389,0.556630,-0.539758,-0.037665,0.249244,-0.171981,-0.010803,-0.624327,1.349989,-0.827872,...,-0.506152,-0.305589,-0.275777,-0.239969,-0.224971,0.117159,1.812547,-0.494848,-0.549485,1.200286

In [21]:
y = df.get(['Next_Tmax'])
print("Número de linhas: {}\nNúmero de colunas: {}".format(y.shape[0], y.shape[1]))
y.head()

Número de linhas: 7588
Número de colunas: 1

   Next_Tmax
0       29.1
1       30.5
2       31.1
3       31.7
4       31.2

## Cross validation, medida de erro e busca de hiperparametros

* Usar 5-fold cross validation
* Usar RMSE como medida de erro
* Criar distribuição uniforme para a busca aleatório de hiperparametro, dnetro do intervalo especificado em cada problema/regressor

## Para cada um dos regressores abaixo

* Reportar o RMSE da melhor combinação de hiperparametros e o valor dos hiperparametros encontrados
* Reportar o RMSE do uso dos valores default do SKLearn para os hiperparametros que buscamos

### Linear

In [25]:
# Treina e avalia regressor com 5-fold cross-validation
def regressao_linear(x, y):
    scores_rmse=[]
    
    kfold = KFold()
    
    for train_index, test_index in kfold.split(x):
        lin_reg = LinearRegression()
        lin_reg.fit(x[train_index], y[train_index])
        y_pred = lin_reg.predict(x[test_index])
        rmse = mean_squared_error(y[train_index], y_pred, squared = False)
        scores_rmse.append(rmse)
        
    return scores_rmse, lin_reg.coef_

rmse, params = regressao_linear(x.to_numpy(), y.to_numpy())
print("RMSE: {}".format(rmse))
print("Parâmetros: {}".format(params))

ValueError: Found input variables with inconsistent numbers of samples: [6070, 1518]

In [ ]:
lin_reg = LinearRegression()
cross_val = cross_validate(
    lin_reg,
    x,
    y,
    scoring=('neg_root_mean_squared_error')
)
print("RMSE = {}".format(cross_val['test_score']))
print("Parâmetros para a regressão linear = {}".format(lin_reg.score(x, y)))