In [20]:
import sklearn
import pandas as pd

from sklearn.preprocessing import StandardScaler

In [24]:
df = pd.read_csv("dados4.csv")
columns_to_OHE = ['V5','V6','V12']
column_order = [
    'V1','V2','V3','V4','V5_ff','V5_d','V5_i','V5_k','V5_j','V5_aa','V5_m','V5_c','V5_w','V5_e','V5_q','V5_r','V5_cc','V5_x',
    'V6_ff','V6_dd','V6_j','V6_bb','V6_v','V6_o','V6_h','V6_z','V7','V8','V9','V10','V11','V12_s','V12_g','V12_p','V13',
    'V14','V15'
    ]
df_OHE = pd.get_dummies(df, columns=columns_to_OHE)
df_OHE = df_OHE[column_order]
X = df_OHE.drop(['V15'], axis=1)
y = df.filter(['V15'], axis=1)
df_OHE.head()

,V1,V2,V3,V4,V5_ff,V5_d,V5_i,V5_k,V5_j,V5_aa,...,V8,V9,V10,V11,V12_s,V12_g,V12_p,V13,V14,V15
0,1,22.08,11.46,2,0,0,0,1,0,0,...,0,0,0,1,0,1,0,100,1213,0
1,0,22.67,7.00,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,160,1,0
2,0,29.58,1.75,1,0,0,0,1,0,0,...,0,0,0,1,0,1,0,280,1,0
3,0,21.67,11.50,1,0,0,0,0,1,0,...,1,1,11,1,0,1,0,0,1,1
4,1,20.17,8.17,2,0,0,0,0,0,1,...,1,1,14,0,0,1,0,60,159,1

In [26]:
X = StandardScaler().fit_transform(X)
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,0.688737,-0.801052,1.347111,0.542950,-0.288448,-0.213201,-0.305782,3.539691,-0.121268,-0.291386,...,-0.190906,-1.047504,-0.864196,-0.493887,1.087908,-0.300079,0.32249,-0.108306,-0.488358,0.037380
1,-1.451933,-0.751240,0.450548,0.542950,-0.288448,-0.213201,-0.305782,-0.282511,-0.121268,-0.291386,...,-0.615536,-1.047504,-0.864196,-0.493887,-0.919195,-0.300079,0.32249,-0.108306,-0.139591,-0.195413
2,-1.451933,-0.167856,-0.604823,-1.783978,-0.288448,-0.213201,-0.305782,3.539691,-0.121268,-0.291386,...,-0.291083,-1.047504,-0.864196,-0.493887,1.087908,-0.300079,0.32249,-0.108306,0.557943,-0.195413
3,-1.451933,-0.835667,1.355152,-1.783978,-0.288448,-0.213201,-0.305782,-0.282511,8.246211,-0.291386,...,-0.664877,0.954650,1.157144,1.769760,1.087908,-0.300079,0.32249,-0.108306,-1.069637,-0.195413
4,0.688737,-0.962306,0.685745,0.542950,-0.288448,-0.213201,-0.305782,-0.282511,-0.121268,3.431877,...,-0.078768,0.954650,1.157144,2.387119,-0.919195,-0.300079,0.32249,-0.108306,-0.720870,-0.165066